body {
    text-align: center !important;
    background-color: #d49a89 !important;
    color: black !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:0;
    margin: 0;
    font-weight: bolder;
  }

  .showScoreHead {
      margin-top: 30px;
  }
  
  .container {
      margin-top: 100px;
      text-align:center; 
      }



.names {
    font-size: 2rem;
    list-style-type: none;
    font-family:'Times New Roman', Times, serif;
    padding: 5px;

}

#showScoreBtn {
    margin: 100px;
}